/* applu\y a background colur for the page/body */
body{
    background-color: green;
}

/* target all <p> to be 1 font colour */
p, h2{
    color: silver;
}
/* target the footer */
footer p{
    color:indigo;
    font-size:10px;
}
 /* target an element based on class  */
 .larger{
     font-size:24px;
 }
 #play{
     font-weight: bold;
     font-size: 20px;
 }
 /* alt selector to target .jpg/ $ means ends with */
 img[src$="jpg"]{
     width: 500px;
 }
 /* pseudo classes can be target states of elements */
 a:visited{
     color: orangered;
 }
 a:hover{
     color:tomato;
 }
 p:last-child{
     font-style:italic;
 }
 /* use nth-child to style multi elements */
 li:nth-child(2-1){
     background-color: yellowgreen;
 }
 section{
     width: 400px;
     height: 200px;
     background-color: darkgreen;
 }
 nav{
     background-color: darkred;
 }
 span{
     width: 100px;
     height: 100px;
     background-color: black;
 }